@charset "UTF-8"; 

:root{
    --green: #1ECD97;
    --gray: #bbbbbb;
}


html,body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to left, #bde6f8,rgb(161, 223, 250), rgb(105, 207, 250));
}

.cont{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: #B1B1B1;
    font-size: 50px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 5px;
}

h2{
    margin-bottom: 0px;
}

.subtitulo{
    margin-top: 5px;
    margin-bottom: 10px;
} 


.voltar{
    text-align: center  ;
}


/* BOATO DE CADASTARR */

.botcadastrar{
    text-align: center;
}

input[type="submit"] {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid var(--green);
    color:var(--green);
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
input[type="submit"]:hover {
    color:white;
    background: var(--green);
}


/* fim botao cadastarr */

.column-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_col, .sec_col, .terc_col {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
/*     text-align: center; */
    margin: 10px; 
}

.first_col label, .sec_col label, .terc_col label{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

input{
    display: inline-block;
    width: auto;
    height: 30px;
    font-size: 15px;
    border: 1px solid #555;
    border-radius: 8px;
}

input:hover {
    border-color: lightblue;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}


/* BOTAO ATUALIZAR */

button[type="submit"] {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid var(--green);
    color:var(--green);
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
button[type="submit"]:hover {
    color:white;
    background: var(--green);
}


/* BOTÃO VOLTAR */

/* a{
    color: white;
    background-color: rgb(82, 82, 243);
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
} */

.ult{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
}
  
.ult:hover, a:focus { 
    background-color: #16437E;
    color: #ffffff;
}
  
.ult:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.ult:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

/* fim */

/* mesmo botão mas para o relatorio */
.b-rel{
    display: inline-block;
    margin-bottom: 10px;
}
.ult-rel{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
}
  
.ult-rel:hover, a:focus { 
    background-color: #16437E;
    color: #ffffff;
}
  
.ult-rel:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
  
.ult-rel:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


/* margin da tabela em cima */

.mb-consult{
    margin-bottom: 10px;
}